@mixin button()
   text-align: center
   padding: 5px 20px
   margin: 0px 5px
   font-size: $body-text-sm
   background: $dark-blue
   color: $white

@mixin buttonHover()
   background: $black
   color: $white
   
@mixin animations()
   transition-duration: 0.9s
   transition-timing-function: ease
