@mixin button()
   text-align: center
   padding: 20px 30px
   font-size: $body-text-sm
   color: $white
   border-radius: $border-radius

@mixin buttonHover()
   background: $orange
   color: $white
   
@mixin animations()
   transition-duration: 0.9s
   transition-timing-function: ease
