//colors
$black: #000
$white: #fff
$light-blue: #4682B4
$alice-blue: #F0F8FF
$dark-blue: #4682B4

//font sizes
$heading:50px
$heading-sm: 18px

$subheading: 18px
$subheading-sm: 16px

$body-text: 16px
$body-text-sm: 14px


// margins
$margin-section: 100px
$margin-top: 20px
$margin-sm: 10px
   

// another elements
$border: 1px solid $black