//colors
$black: #000
$white: #fff
$blue: #00587a
$orange: #e57916
$dark-green: #4b431f
$light-brown: #cbb79b

//test colors
$light-blue: #4682B4
$alice-blue: #F0F8FF
$dark-blue: #4682B4

//font sizes
$big-heading: 50px
$big-heading-sm: 30px

$heading:40px
$heading-sm: 30px

$subheading: 26px
$subheading-sm: 16px

$body-text: 16px
$body-text-sm: 14px

// width
$aditional-container: 600px
$img-width: 500px
// margins
$margin-section: 100px
$margin-top: 20px
$margin-sm: 10px
   

// another elements
$border-radius: 20px
$border: 1px solid $black