.big-heading-white
   @include font-style($big-heading, 0px, center, $white)

.big-heading-green
   @include font-style($big-heading, 0px, center, $dark-green)

   //@include font-style($font-size, $padding-top, $text-align, $white)
.heading-white
   @include  font-style($heading, $margin-sm, center, $white)

.heading-green
   @include font-style($heading, $margin-sm, center, $dark-green)


.subheading-white
   @include font-style($subheading, 0px, left, $white)
   margin-top: $margin-sm

.subheading-green
   @include font-style($subheading, 0px, left, $dark-green)
   margin-top: $margin-sm
 
   
.body-text-white
   @include font-style($body-text, 0px, left, $white)
   margin-top: $margin-sm
   line-height: 20px

.body-text-green
   @include font-style($body-text, 0px, left, $dark-green)
   margin-top: $margin-sm
   line-height: 20px

.sm-text-white
   @include font-style(12px, 0px, left, $white)

.sm-text-green
   @include font-style(12px, 0px, left, $dark-green)
   line-height: 20px


@media (max-width: 767px)
   .big-heading-white, .big-heading-green
      font-size: $big-heading-sm
      line-height: normal
   
   .heading-white, .heading-green
      font-size: $heading-sm
   
   .subheading-white, .subheading-green
      font-size: $subheading-sm
   
   .body-text-white, .body-text-green
      font-size: $body-text-sm
   
.bold
   font-weight: bold
   
a 
   color: $white

a:hover
   transition: $transnision

.orange-hover:hover
  color: $orange