.heading
   font-size: $heading
   margin-top: $margin-sm
   color: $dark-blue

.subheading
   font-size: $subheading
   margin-top: $margin-sm
   color: $dark-blue
   
.body-text
   font-size: $body-text
   margin-top: $margin-sm
   color: $dark-blue

a 
   color: $white
   