.argument
   @include section-style($dark-green, 200px)
   // padding: $margin-top
   // background: $dark-green
   &__wrapper
      text-align: center
      width:  $wrapper-width
      min-width: 320px
      margin-left: auto
      margin-right: auto
   &__text
      p
         text-align: left
   &__links
      @include link-wrapper()


