.argument
   @include section-style($dark-green)
   &__wrapper
      text-align: center
      max-width:  $wrapper-width
      margin-left: auto
      margin-right: auto
   &__text
      width: 100
      p
         text-align: left
