.numbers
   @include section-style($light-brown)
   &__wrapper
      padding-top: 40px
      background: $dark-green
   &__items
      display: flex
   &__item
      width: 25%
      border-right: 5px solid $white
      text-align: center
   &__item:last-child
      border-right: 1px solid $dark-green
   &__item-txt
      p
         text-align: center

@media (max-width: 714px)
   .numbers
      &__items
         flex-direction: column
      &__item
         width: 100%
         border-right: 0px solid $white
         border-bottom: 2px solid $white