.opinion
   @include section-style($crimson)
   &__wrapper
      display: flex
   &__content
   &__img
      display: block
      position: relative
   &__hand
      position: absolute
      top: 60px
      left: 70px
      width: 160px
      z-index: 6
   &__hand:hover
      transform: rotate(10deg)
   &__star
      right: 30px
      width: 300px
      z-index: 4
      animation: $animation-star
   
@media (max-width: 714px)
   .opinion
      &__wrapper
         flex-direction: column
         align-items: center
      &__img
         margin-top: $margin-top

