.promotion
   @include section-style($dark-green)
   &__content
      display: flex
      flex-direction: row 
   &__img
      @include img-container()
      img
         width: 100%
   &__description
      width: $text-width
   &__form
      margin-top: 100px
   &__img
      @include img-container()
      img
         width: 100%

@media (max-width: 714px)
   .promotion
      &__content
         width: 100%
         flex-direction: column
      &__description
         width: 100%
         p
            width: 100%