.research
   @include section-style($light-brown, 200px)
   // background: $light-brown
   // padding: 200px 0px
   &__wrapper
      display: block
      margin: 0 auto
      width: $wrapper-width
   &__text
      text-align: center
   &__img
      @include img-container()
      img
         margin: $margin-sm
         width: 100%
   &__links
      @include link-wrapper()