.research
   @include section-style($light-brown)
   &__wrapper
      text-align: center

      // margin-left: auto
      // margin-right: auto
  
   &__text

   
      p
         text-align: center
   &__img
      @include img-container()
      img
         margin: $margin-sm
         width: 100%