.footer
   @include section-style($rose)
   &__wrapper
   &__content
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: start
   &__form, &__nav, &__social-media
      width: 33%
      margin: 0px 20px
   &__nav
      margin-top: 20px
      ul
         margin-top: 20px
         padding-inline-start: 0px
         line-height: 27px
      ul > a
        line-height: 30px
      a:hover
         color: $white
         transition: $transnision
   &__social-media
      position: relative
   &__social-media-links
      z-index: 9
      position: relative
      display: block
      a
         display: block
         text-align: left
         line-height: 80px
         border-bottom: 3px solid $crimson
      a:hover  
         color: $orange
         border-bottom: 3px solid $orange
   &__info
      margin-top: $margin-section
   &__info-subsc
      p
         text-align: center
   &__info-alert
 
      p, a
         width: 50%
         display: inline-block 
         padding: 4px
      a 
         border: 2px solid $rose
         float: left
      p 
         border: 2px solid $crimson
         float: right
         margin: 0px

@media (max-width: 910px)
   .footer
      &__content
         flex-wrap: wrap-reverse
         justify-content: space-between
      &__social-media, &__form, &__nav
         width: 100%
         margin-bottom: 30px
      &__nav
         a            
            display: block
            margin-top: 20px
            line-height: 40px

@media (max-width: 565px)
   .footer
      &__nav
         a     
         display: block
         margin-top: 20px
         line-height: 40px








