.wrapper 
	background: $dark-green
	display: flex
	flex-direction: column
	justify-content: start


.content 
	flex: 1 0 auto
	padding: 120px 0px 0px 0px


.container 
	max-width: 1400px
	margin: 0px auto
	padding: 0px 10px
 

.footer 
	flex: 0 0 auto
