.wrapper 
	background: $alice-blue
	display: flex
	flex-direction: column
	min-height: 100vh

.content 
	flex: 1 0 auto
	padding: 120px 0px 0px 0px


.container 
	max-width: 1400px
	margin: 0px auto
	padding: 0px 10px
 

.footer 
	flex: 0 0 auto
