.wave-brown
   background: $crimson
   svg path
      fill: $rose


.wave-green
   background: $rose
   svg path
      fill: $crimson

.wave-first
   background: $crimson
   svg path
      fill: $rose



 
 