.wave-brown
   margin-bottom: -7px
   background: $dark-green
   svg path
      fill: $light-brown


.wave-green
   margin-bottom: -2px
   background: $light-brown
   svg path
      fill: $dark-green
