.problems
   background: $dark-green
   margin-top: -47px
   &__img
      display: block
      margin: 0 auto
      max-width: 600px
      img
         width: 100%
   p
      text-align: center
      padding: $margin-top 